.card {
  margin: 20px 10px;
  background-color: #d3f6e9; }

.card .card-img {
  max-height: 240px; }

.card .card-body .btn {
  width: 60px;
  height: 40px;
  background-color: bisque; }

.card .card-body .btn:hover {
  background-color: #24a0bc; }

.col-lg-3 {
  background-color: aquamarine;
  text-align: center; }
