<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input"></label>
            <input type="text" id="name" name="name" placeholder="user name">
            <input type="password" id="pw" name="password" placeholder="pass word">
        </div>
       
        <button type="submit" class="btn btn-primary">sign in</button>
    </form>
</div>